@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.inner-shadow {
  box-shadow: inset 0 2px 200px rgba(23, 161, 255, 0.5); /* Inner shadow with specified color */
}
.vedioPlayButton {
  background: rgba(113, 113, 113, 0.2);
  backdrop-filter: blur(13.292633056640625px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.controls_container {
  background: rgba(45, 45, 45, 0.65);
  backdrop-filter: blur(3.624756336212158px);
}
.volume_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(45, 45, 45, 0.65);
  backdrop-filter: blur(3.624756336212158px);
}
.custom_class_controls {
  visibility: hidden;
}
.custom_class_video_controller:hover .custom_class_controls {
  visibility: visible;
}
.modal_overlay_bg {
  background: rgba(0, 0, 0, 0.5);
}
.form_bg {
  background: rgba(255, 255, 255, 0);
}

@layer components {
  .custom_padding {
    @apply lg:pr-[6.5rem] lg:pl-[6.5rem] md:pr-[6rem] md:pl-[6rem] sm:pr-[1rem] sm:pl-[1rem] xs:pl-[1rem] xs:pr-[1rem];
  }
  .custom_box_padding {
    @apply lg:px-[6.5rem]  md:px-[6rem] sm:px-[1rem] xs:px-[1rem] lg:py-[3rem] md:py-[4rem] sm:py-[3rem] xs:py-[3rem];
  }
  .custom_blur_bg {
    @apply custombg;
  }
  .custom_glass_effect {
    @apply relative;
  }
  .custom_glass_effect::before {
    content: "";
    @apply absolute inset-0 inner-shadow;
  }
  .custom_glass_content {
    @apply relative z-0 p-6;
  }
  .video_h_w {
    @apply w-full lg:h-[576px] md:h-[400px] sm:h-full xs:h-full;
  }
  .vedio_custom_class {
    @apply lg:rounded-tl-[73px] lg:rounded-bl-[73px] lg:rounded-br-[73px]  md:rounded-tl-[53px] md:rounded-bl-[53px] md:rounded-br-[53px] sm:rounded-md xs:rounded-md lg:border-[5px] md:border-[5px] sm:border-[3px] xs:border-[3px] border-blueSecondary border-solid;
  }
  .custom_course_image_border {
    @apply lg:rounded-tl-[48px] lg:rounded-bl-[48px] lg:rounded-br-[48px] md:rounded-tl-[40px] md:rounded-bl-[40px] md:rounded-br-[40px] sm:rounded-tl-[30px] sm:rounded-bl-[30px] sm:rounded-br-[30px] xs:rounded-tl-[20px] xs:rounded-bl-[20px] xs:rounded-br-[20px];
  }
  .main_play_button {
    @apply lg:size-[118px] md:size-[100px] sm:size-[75px] xs:size-[50px];
  }
  .main_play_button svg {
    @apply lg:h-[44px] lg:w-[39px] md:h-[40px] md:w-[35px] sm:h-[35px] sm:w-[31px] xs:h-[18px] xs:w-[14px];
  }
  .label_form {
    @apply lg:text-[16px] md:text-[14px] sm:text-[10px] xs:text-[10px] text-black font-[500] capitalize;
  }
  .input_form {
    @apply bg-transparent border border-gray_1 outline-none border-solid lg:input-md md:input-md sm:input-sm xs:input-sm;
  }
  .input_form_error {
    @apply bg-transparent border border-red-500 border-solid lg:input-md md:input-md sm:input-sm xs:input-sm;
  }
  .input_form_error:focus {
    @apply border-red-500 outline-red-600;
  }
  .radio_normal {
    @apply border border-gray_1;
  }
  .radio_error {
    @apply border border-red-500;
  }

  .textarea_from {
    @apply bg-transparent border border-gray_1 border-solid;
  }
  .textarea_error_from {
    @apply bg-transparent border border-red-500 border-solid;
  }
  .textarea_error_from:focus {
    @apply border-red-500 outline-red-600;
  }
  .input_form::placeholder {
    @apply text-[#999] lg:text-[14px] md:text-[12px] sm:text-[12px] xs:text-[12px];
  }
  .placeholer_form::placeholder {
    @apply text-[#999] lg:text-[14px] md:text-[12px] sm:text-[12px] xs:text-[12px];
  }
  .form-control .label {
    @apply lg:block md:block sm:hidden xs:hidden;
  }
  .mask_infitie {
    @apply lg:[mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)] md:[mask-image:_linear-gradient(to_right,transparent_0,_black_64px,_black_calc(100%-100px),transparent_100%)] sm:[mask-image:_linear-gradient(to_right,transparent_0,_black_32px,_black_calc(100%-70px),transparent_100%)] xs:[mask-image:_linear-gradient(to_right,transparent_0,_black_16px,_black_calc(100%-50px),transparent_100%)];
  }
}
.swiper_container {
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
